@model WebChat.ViewModels.AppUser.Login

@{
    ViewData["Title"] = "Login";
}

<p class="h2 text-center">Đăng nhập</p>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Login" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["msg"] != null)
            {
                <span class="text-danger">@TempData["msg"]</span>
            }
            <div class="form-group">
                <label asp-for="Username" class="control-label">Tên đăng nhập</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" />
                    Giữ tôi luôn đăng nhập
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng nhập" class="btn btn-primary btn-block" />
            </div>
            <div class="form-group">
                Chưa có tài khoản?
                <a asp-action="SignUp" class="text-center"> <b>Đăng ký ngay</b></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
